<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="sokinPay_paymentGateway" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sokin Pay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="description" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Description</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>SokinPay\PaymentGateway\Model\Adminhtml\Source\Environment</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="sandbox_secret_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>X API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="environment">sandbox</field>
                    </depends>
                </field>
                <field id="production_secret_key" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>X API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="environment">production</field>
                    </depends>
                </field>
                <field id="sandbox_api_url" translate="label" type="text" sortOrder="50"  showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API URL</label>
                    <validate>required-entry validate-url</validate>
                    <depends>
                        <field id="active">1</field>
                        <field id="environment">sandbox</field>
                    </depends>
                </field>
                <field id="production_api_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API URL</label>
                    <validate>required-entry validate-url</validate>
                    <depends>
                        <field id="environment">production</field>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="sandbox_checkout_url" translate="label" type="text" sortOrder="60"  showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Checkout URL</label>
                    <validate>required-entry validate-url</validate>
                    <depends>
                        <field id="active">1</field>
                        <field id="environment">sandbox</field>
                    </depends>
                </field>
                <field id="production_checkout_url" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Checkout URL</label>
                    <validate>required-entry validate-url</validate>
                    <depends>
                        <field id="environment">production</field>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="80" showInDefault="9" showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
